/* 모달 스타일 */
.board_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 800px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

/* FlexContainer 스타일 */
.board_div_style_1 {
  display: flex;
  flex-direction: row;

  margin-top: 40px;
  padding: 15px;
  border-top: 1px solid lightgrey;
}

.board_div_style_2 {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3px;
}


/* StyledInputEmoji 스타일 */
.styled-input-emoji {
  width: 350px;
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}